<system.web.extensions>
    <scripting>
        <webServices>
            <jsonSerialization maxJsonLength="100000000"/>
            <protocols>
              	<add name= "HttpPost"/>
             		<add name= "HttpGet"/>
         		</protocols>
            <httpProtocol>
              <customHeaders>
                <add name=”Access-Control-Allow-Origin” value=”*”/>
              </customHeaders>
            </httpProtocol>
        </webServices>
    </scripting>
</system.web.extensions>
